@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 400 i 700, normal/italic */

* {
    font-family: "Space Mono";
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    border-bottom: 0.5rem solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .info-container {
    max-width: 32rem;
    margin: 1rem 2rem;
}

header .input-container {
    margin: 0 2rem;
    padding: 1rem;
    background-color: rgba(255,255,255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.8rem;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
}

header .fields {
    display: flex;
    flex-direction: column;
}

header #title {
    max-width: 17rem;
    border-bottom: 2px solid black !important;
    border: none;
    border-radius: 0.6rem 0 0 0;
    padding: 0.7rem 1.4rem
}

header #description {
    max-width: 17rem;
    border: none;
    border-radius: 0 0 0 0.6rem;
    padding: 1.4rem;
}

input[type = submit] {
    max-width: 5rem;
    color: white;
    border: none;
    background-color: pink;
    border-radius: 0.6rem;
    margin-left: 0.2rem;
}

section {
    width: 100%;
    min-height: 80vh;
    background: #f1f1f1;
    background-image: linear-gradient(90deg,
            transparent 50px,
            #ffb4b8 50px,
            #ffb4b8 52px,
            transparent 52px),
        linear-gradient(#e1e1e1 0.1em, transparent 0.1em);
    background-size: 100% 30px;
}
